setuptools<82.0.0
numpy
pandas
scikit-learn<1.8.0
factor-analyzer
tensorflow
tensorflow-hub
interpretablefa>=6.0.2
scipy
statsmodels
matplotlib
seaborn
plotly
streamlit>=1.50.0
groq
streamlit-js-eval
protobuf<7
