setuptools==80.10.2
numpy
pandas
scikit-learn<1.8.0
factor-analyzer
tensorflow
tensorflow-hub
scipy
statsmodels
matplotlib
seaborn
plotly
streamlit>=1.50.0
groq
streamlit-js-eval
protobuf<7
streamlit-agraph
streamlit-extras
streamlit-lottie
